.header {

    &__logo {
        & img {
            @media screen and (max-width: $w1376) {
                max-width: rem(140);
            }

            @media screen and (max-width: $w940) {
                margin-left: rem(10);
            }
        }
    }

    &__mobile {
        @media screen and (min-width: $w940) {
            display: none;
        }
    }

    &__top {
        background: #16162D;
        color: #fff;
        display: flex;
        justify-content: space-between;
        height: 40px;
        align-items: center;
        padding: 0 38px;

        @media screen and (max-width: $w1100) {
            padding: rem(0) rem(25);
        }

        @media screen and (max-width: $w940) {
            display: none;
        }

        & nav {

            & ul {
                display: flex;
                align-items: center;
                list-style-type: none;
            }

            & a {
                font-weight: 500;
                font-size: rem(12);
                line-height: rem(14);
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #BFBFBF;
                padding-left: rem(50);
                display: block;

                @media screen and (max-width: $w1376) {
                    padding-left: rem(25);
                }
            }
        }
    }

    &__top-info {
        font-weight: 500;
        font-size: rem(12);
        line-height: rem(14);
        letter-spacing: 0.05em;

    }

    &__main {
        display: flex;
        align-items: center;
        color: #000000;
        background: #FFD223;
        padding: rem(25) rem(38);

        @media screen and (max-width: $w1100) {
            padding: rem(18) rem(25);
        }


        & nav {

            @media screen and (max-width: $w940) {
                display: none;
            }

            & ul {
                display: flex;
                align-items: center;
                list-style-type: none;
                justify-content: flex-end;
                padding-right: 25px;
            }

            & a {
                font-weight: 500;
                font-size: rem(13);
                line-height: rem(14);
                letter-spacing: 0.05em;
                text-transform: uppercase;
                padding: 0 rem(25);

                @media screen and (max-width: $w1376) {
                    padding: 0 rem(10);
                }
            }
        }
    }

    &__nav {
        flex-grow: 1;
        text-align: center;

        & ul {
            justify-content: center;
        }
    }

    &__find {
        flex-grow: 1;
        text-align: center;
        max-width: rem(100);
        display: flex;
        justify-content: center;

        @media screen and (max-width: $w1376) {
            max-width: rem(40);
            height: rem(40);
            margin-right: rem(10);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media screen and (max-width: $w480) {
            margin-right: rem(0);
        }
    }

    &__quest {
        @media screen and (max-width: $w480) {
            display: none;
        }
    }
}