.container-1720
  .header
    .header__top
      .header__top-info База данных по ремонту и обслуживанию автомобилей
      .header__top-nav
        nav
          ul
            li: a(href="#") Все материалы
            li: a(href="#") Автомобили 
            li: a(href="#") Вопрос-ответ
            li: a(href="#") О нас
            li: a(href="#") Личный кабинет
            li: a(href="#") Выбрать авто
    .header__main
      .header__logo
        img(src="/img/svg/logo.svg")
      .header__nav
        nav
          ul
            li: a(href="#") Расходники ТО
            li: a(href="#") Двигатель
            li: a(href="#") Коробка передач
            li: a(href="#") Кузов
            li: a(href="#") Ходовая
            li: a(href="#") Электрика
      .header__find: +icons('#ic_find', 18)
      .header__quest
        button.btn.btn-line Задать вопрос








