include ../../components/mobile-menu/mobile-menu

.container-1720
  .header
    .header__top
      .header__top-info База данных по ремонту и обслуживанию автомобилей
      .header__top-nav
        nav
          ul
            li: a(href="/repair.html") Все материалы
            li: a(href="/brands.html") Автомобили 
            li: a(href="/qna.html") Вопрос-ответ
            li: a(href="/select-oil.html") Подбор масла
            li: a(href="#") О нас
            li: a(href="#") Личный кабинет
    .header__main
      .header__mobile
        .nav__hamburger
          i
          i
          i
      .header__logo
        a(href="/"): img(src="/img/svg/logo.svg")
      .header__nav
        nav
          ul
            li: a(href="#") Расходники ТО
            li: a(href="#") Двигатель
            li: a(href="#") Коробка передач
            li: a(href="#") Кузов
            li: a(href="#") Ходовая
            li: a(href="#") Электрика
      .header__find
        +icons('#ic_find', 18)
        .find-wrp
          form(action="search"): input(type="text" placeholder="Найти")


      .header__quest
        button.btn.btn-line Задать вопрос

  +mobile-menu()








