extends ../layouts/home
include ../../blocks/components/breadcrumb/breadcrumb
include ../../blocks/components/select/select
include ../../blocks/components/pagination/pagination
include ../../blocks/components/form/form
include ../../blocks/modules/repair-item/repair-item
include ../../blocks/modules/mobile-menu-button/mobile-menu-button

block variables
  include ../../data/questions
  include ../../data/repair


block content
  .main
    section.breadcrumbs
      .container
        +breadcrumb([ 'Главная', 'Audi', ])
    section.page-title 
      .container
        h1 Audi
    section.page-qna-section
      .container
        .page-qna
          .page-qna__aside
            .add-answer
              a(href="/select-oil.html"): button.btn.btn-line.btn-full 
                +icons('#ic_oil', 27)
                span подбор масла
            .qna-filter
              .qna-filter__aside
                .qna-filter__title Фильтр
                .qna-filter__content
                  form
                    .form
                      .form__item: +select(['Выберите марку'])
                      .form__item: +select(['Выберите модель'])
                      .form__item: +select(['Выберите поколение'])


              .qna-filter__aside
                .qna-filter__title Категории
                .qna-filter__content
                  ul(data-list="collapse" id="tree")
                    each item in catig
                      li
                        a(href="#")= item.title
                        if item.parent
                          ul
                            each parent in item.parent 
                              li
                                a(href="#")= parent.title
                                if parent.parent
                                  ul
                                    each parent2 in parent.parent 
                                      li: a(href="#")= parent2.title
              .qna-filter__send
                button.btn.btn-full Показать
          .page-qna__main

            .filter-repair
              ul 
                li.active: +checkbox('Статьи')
                li: +checkbox('Видео')
                li: +checkbox('Вопрос-ответ')
              .filter-repair__sort
                span Сортировать:
                +select(['по дате', 'популярные'])

            .repair
              .repair__list
                each item in repair
                  .repair__item
                    if item.type == 'qna'
                      +card-qna(item)
                    if item.type == 'Видео'
                      +card-video(item)
                    if item.type == 'Статья'
                      +card-article(item)




            //- content
          .page-qna__pagination
            +pagination()
          .page-qna__filter-button
            +mobile-menu-button('Фильтр', '#ic_filter')





block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")
