extends layouts/index
include ../blocks/modules/box-tag/box-tag 
include ../blocks/modules/video-item/video-item
include ../blocks/modules/qna-item/qna-item
include ../blocks/modules/brand-list/brand-list

block variables
  include ../data/typeQuest
  include ../data/autoBrand
  include ../data/video
  include ../data/questions


block content
  .main
    section.banner-top
      .banner-top__image: +bgimage('/img/other/home-bg.jpg')

      .banner-top__content
        .container
          .banner-top__title: h1 Найти ответ быстро <br> и просто!
          .banner-top__subtitle База данных по ремонту и обслуживанию автомобилей
          .banner-top__btn
            a(href="#"): button.btn.btn-line-white Задать вопрос

    section.type-question 
      .container
        .type-question__list 
          each item in typeQuest
            .type-question__item 
              .type-question__item-title 
                +bgimage(item.icon)
                span= item.title
              .type-question__item-list
                ul
                  each prop in item.prop
                    li: a(href="#")= prop 

    section.top-question
      .container
        .section-title
          +h2('Популярное')
          a(href="#") все материалы
        .top-question__wrp
          .top-question__left
            .top-question__list
              each item in topQuest
                .top-question__item
                  .top-question__item-img
                    a(href="#"): +bgimage(item.img)
                  .top-question__item-main
                    .top-question__item-title
                      a(href="#")= item.title
                    .top-question__item-tag
                      +boxtag(item.tag)
          .top-question__right
            .top-question__right-img: +bgimage('/img/home/topright.jpg')
            .top-question__right-title Как выбрать тормозную жидкость?
            .top-question__right-desc Тормозная система является одной из самых консервативных в конструкции автомобиля. Несмотря на обилие всевозможных электронных помощников, современный автомобиль замедляется примерно так же, как и многие десятилетия назад: благодаря тормозным колодкам, дискам и... тормозной жидкости.
            .top-question__right-tag: +boxtag(['Тормозная система', 'Тормозная система', 'Тормозная система'])

    +brand-list({
      data: brand,
      viewAll: true,
      count: false
    })

    section.top-video
      .container
        .section-title
          +h2('Видео')
          a(href="#") все видеоматериалы
        .top-video__list
          each item in video
            .top-video__item
              +video-item(item)

    section.experts
      .container-1720
        .experts__wrp
          .container
            .experts__inr
              .experts__desc
                .experts__desc-title Автоэксперты
                .experts__desc-sub Наши эксперты решают <span>> 500</span> проблем в день! Напишите свой вопрос специалисту онлайн и получите оперативный ответ!

              .experts__list
                each item in exp
                  .experts__item 
                    .item-experts
                      .item-experts__img: a(href="#" class="is-online" ): +bgimage(item.img)
                      .item-experts__name: a(href="#")= item.name
                      .item-experts__spec= item.spec
                      .item-experts__state
                        if item.online
                          span.online-exp online
                        else
                          span.offline-exp заходил в 16:10
                      .item-experts__quest
                        button.btn.btn-line Задать вопрос


    section.top-qna
      .container
        .section-title
          +h2('Вопросы и ответы')
        .top-qna__list
          each item, index in questions
            if index <=5
              .top-qna__item
                +qna-item(item)




block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")
