mixin mobile-menu()
  .mobile-menu
    .mobile-menu__top
      ul
        li: a(href="/repair.html") Все материалы
        li: a(href="/brands.html") Автомобили 
        li: a(href="/qna.html") Вопрос-ответ
        li: a(href="#") О нас
        li: a(href="#") Личный кабинет
        li: a(href="#") Выбрать авто

    .mobile-menu__main
      ul
        li: a(href="#") Расходники ТО
        li: a(href="#") Двигатель
        li: a(href="#") Коробка передач
        li: a(href="#") Кузов
        li: a(href="#") Ходовая
        li: a(href="#") Электрика
    .mobile-menu__sep
    .mobile-menu__footer
      .mobile-menu__footer-call
        button.btn.btn-line Заказать звонок