html {
    font-family: Roboto, arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
    background: #fff;
    color: #000;
    letter-spacing: normal;
    max-width: 1980px;
    margin: 0 auto;

    @media screen and (max-width: $w1440) {
        font-size: 14px;
    }

    @media screen and (max-width: $w1280) {
        font-size: 13px;
    }
}

button:active,
button:hover,
input:active,
input:focus,
input:hover {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
    line-height: 130%;
}

* {
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.hidden {
    overflow: hidden;

    @media screen and (min-width: $w1024) {
        margin-right: 17px;
    }
}

.hide {
    display: none;
}

.rotate {
    transform: rotate(180deg);
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 rem(30);

    @media screen and (max-width: $w1280) {
        padding: 0 rem(35);
    }

    @media screen and (max-width: $w1024) {
        padding: 0 rem(25);
    }

    @media screen and (max-width: $w580) {
        padding: 0 rem(15);
    }
}

.container-1720 {
    max-width: 1720px;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: $w1280) {}

    @media screen and (max-width: $w1024) {}

    @media screen and (max-width: $w580) {}
}

.pull-right {
    justify-content: flex-end !important;
}

.pull-left {
    justify-content: flex-start !important;
}

/* ================== */

header {
    position: relative;
    z-index: 2;
    background-color: $lightGray;
}

.header-opacity {
    background-color: transparent;
}

.banner-top {


    @media screen and (min-width: 1720px) {
        margin-top: -145px;
    }

    position: relative;
    z-index: 1;

    &__image {
        & span {
            @include bgimage-cover;
            padding-top: 33%;
            transform: none !important;
            min-height: rem(360)
        }
    }

    &__content {
        @include layer(1);

        display: flex;
        align-items: center;
    }

    &__title {

        @media screen and (min-width: 1720px) {
            @include padd-top(90);
        }

        & h1 {
            font-weight: 500;
            font-size: rem(60);
            line-height: rem(59);
            color: #FFFFFF;

            @media screen and (max-width: $w1280) {
                font-size: rem(45);
            }

            @media screen and (max-width: $w480) {
                font-size: 28px;
                line-height: 117%;
                font-weight: 600;
            }
        }
    }

    &__subtitle {
        font-size: rem(14);
        line-height: rem(14);
        letter-spacing: 0.05em;
        color: #FFFFFF;

        padding-top: rem(25);
        padding-bottom: rem(50);

        @media screen and (max-width: $w1280) {
            padding-top: rem(20);
            padding-bottom: rem(35);
        }

        @media screen and (max-width: $w480) {
            font-size: 13px;
            line-height: 117%;
        }
    }


}

.type-question {

    background: $lightGray;

    @include padd-top(58);
    @include padd-bottom(20);

    &__list {
        @include row-flex();
    }

    &__item {
        @include col();
        @include size-w940(4);
        @include size-w760(6);
        @include size-w480(6);
        @include size(12);
    }

    &__item {

        @include padd-bottom(60);

        & .bgimage {
            width: rem(33);
            min-width: rem(33);
            height: rem(33);
            margin-right: 15px;

            @include bgimage-contain;
        }
    }

    &__item-title {
        display: flex;
        font-weight: 500;
        font-size: rem(28);
        line-height: rem(42);
        color: #16162D;
        padding-bottom: rem(20);
        display: flex;
        align-items: center;

        @media screen and (max-width: $w1376) {
            font-size: rem(20);
            line-height: rem(35);
        }
    }

    &__item-list {

        & ul {

            list-style-type: none;

            & li {
                display: flex;
                align-items: center;
                padding: rem(15) 0;

                @media screen and (max-width: $w1376) {
                    padding: rem(10) 0;
                }

                & a {
                    font-weight: 500;
                    font-size: rem(13);
                    line-height: 140%;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #939393;
                    display: block;

                }

                &::before {
                    width: rem(33);
                    height: rem(2);
                    content: '';
                    display: inline-block;
                    background-color: #FFD223;
                    margin-right: rem(15);

                    @media screen and (max-width: $w1376) {
                        width: rem(25);
                    }
                }
            }
        }

    }
}

.experts {
    &__desc-sub {
        font-size: rem(14);
        line-height: 190% !important;
        @include padd-bottom(48);
    }
}

.section-title {
    display: flex;
    align-items: center;
    @include padd-bottom(50);

    & a {
        font-weight: 500;
        font-size: rem(12);
        line-height: rem(14);
        letter-spacing: 0.05em;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #737373;
        display: block;
        padding-top: rem(5);

        margin-left: rem(35);
    }
}



.top-question {
    @include padd-top(55);
    @include padd-bottom(70);

    &__wrp {
        @include row-flex();
        justify-content: space-between;

        @include to($w580) {
            flex-direction: column-reverse;
        }
    }

    &__left {
        @include col();
        @include size-w760(5.8);
        @include size-w580(12);
    }

    &__right {
        @include col();
        @include size-w760(5.8);
        @include size-w580(12);

        @include to($w580) {
            margin-bottom: rem(30);
        }
    }

    &__right-img {
        & .bgimage {
            padding-top: 70%;
            @include bgimage-cover;
            transform: none !important;
        }
    }

    &__right-title {
        font-weight: 500;
        font-size: rem(18);
        line-height: 150%;
        color: #16162D;
        padding: rem(25) 0;

        @media screen and (max-width: 580px) {

            font-size: rem(18);
            padding: rem(20) 0;
        }
    }

    &__right-desc {
        font-size: rem(14);
        line-height: 140%;

    }

    &__right-tag {
        margin-top: rem(40);
    }

    &__item {
        display: flex;
        margin-bottom: rem(40);

        &>div {
            flex-grow: 1;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item-title {
        & a {
            font-weight: 500;
            font-size: rem(18);
            line-height: 150%;
            color: #16162D;

            @media screen and (max-width: $w480) {
                font-size: 14px;
                line-height: 120%;
            }
        }
    }

    &__item-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__item-img {
        width: 100%;
        max-width: rem(168);
        min-width: rem(168);
        margin-right: rem(20);

        & .bgimage {
            padding-top: 58%;
            @include bgimage_cover;
        }
    }

    &__item-tag {
        padding-top: rem(10);
    }
}






.top-video {
    @include padd-top(50);
    @include padd-bottom(35);

    &__list {
        @include row-flex();
    }

    &__item {
        @include col();
        @include size-w760(4);
        @include size-w480(6);
        @include size(12);

        margin-bottom: rem(30);
    }



}

.top-qna {

    @include padd-x(60);

    &__list {
        @include row-flex();

        margin-bottom: rem(30);
        margin-left: rem(-15);
        margin-right: rem(-15);
    }

    &__item {
        @include col();
        @include size-w760(4);
        @include size-w480(6);
        @include size(12);

        padding-bottom: rem(27);

        @media screen and (max-width: $w480) {
            padding-bottom: rem(15);
        }
    }
}

.experts {
    &__inr {
        @include row-flex();

        @media screen and (max-width: $w1100) {
            margin: auto;
        }
    }

    &__desc {
        @include col();
        @include size-w1100(3);
    }

    &__list {
        @include size-w1100(9);
        @include row-flex();
        margin-left: rem(20);

        @media screen and (max-width: $w760) {
            flex-wrap: nowrap;
            overflow-y: auto;
            max-width: calc(100% + rem(30));
            margin-left: rem(0);
        }

    }

    &__item {
        @include col();
        @include size-w1100(4);
        @include size-w760(4);
        @include size(4);

        min-width: rem(280);
    }


    &__wrp {
        @include padd-x(65);
        background-color: $yellow;
    }



}

section.breadcrumbs {
    background-color: $lightGray;
}

.select-oil-section {
    @include padd-top(45);
}

.page-title {
    background-color: $lightGray;

    @include padd-top(50);
    @include padd-bottom(54);

    @media screen and (max-width: $w940) {
        padding-bottom: rem(25);
        padding-top: rem(25);
    }
}

.item-experts {
    background-color: #fff;
    padding: 20px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__img {

        max-width: 60%;
        margin: 0 auto;
        width: 100%;

        & .is-online {
            & .bgimage::before {
                content: '';
                width: 13px;
                height: 13px;
                display: block;
                background-color: #49a41f;
                border-radius: 50%;
                margin-left: auto;
                position: absolute;
                right: 20%;
                bottom: 2%;
            }
        }

        & .bgimage {
            padding-top: 100%;
            transform: none !important;
            border-radius: 50%;
            @include bgimage-cover;

        }
    }

    &__name {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        text-transform: uppercase;
        text-align: center;
        min-height: rem(60);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: rem(0);

        .item-experts__name {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            text-transform: uppercase;
            text-align: center;
        }


    }

    &__spec {
        font-size: 12px;
        line-height: 145%;
        text-align: center;
        color: #939393;
        padding-bottom: rem(10);

    }

    &__state {

        font-size: 13px;
        padding: 10px 0;
        text-align: center;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: rem(30);

        & .online-exp {
            color: #49A41F;

            &::before {
                content: '';
                width: 6px;
                height: 6px;
                background-color: #49A41F;
                border-radius: 50%;
                display: inline-block;
                margin-right: 5px;
            }
        }

        & .offline-exp {
            color: #aaa;
            font-size: 13px;
        }
    }

    &__quest {
        text-align: center;

        & button {
            margin: 0 auto;
        }
    }
}

.experts {
    &__desc {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    &__desc-title {
        font-weight: 500;
        font-size: rem(28);
        line-height: rem(59);
        color: #16162D;
        @include padd-bottom(78);

        @media screen and (max-width: $w1100) {
            padding-bottom: rem(10);
        }

    }

    &__desc-sub {

        line-height: rem(30);

        & span {
            font-weight: 500;
            font-size: rem(24);
            color: #16162D;
        }

        @media screen and (max-width: $w1100) {
            padding-bottom: rem(35);
        }
    }
}

.page-qna {

    @include row-flex();

    &__aside {
        @include col();
        @include size-w940(3);

        @include w360-block {
            max-width: rem(360);
        }

        @include size(12);
    }

    &__main {
        @include col();
        @include size-w940(9);
        @include size(12);


        @media screen and (min-width: $w1440) {
            padding-left: rem(15);

            &--offset {
                margin-top: rem(-88);
            }
        }

        @media screen and (min-width: $w1280) {
            padding-left: rem(15);

            &--offset {
                margin-top: rem(-75);
            }
        }

        @media screen and (min-width: $w940) {
            padding-left: rem(15);

            &--offset {
                margin-top: rem(-75);
            }
        }
    }

    &__aside {
        @media screen and (max-width: $w940) {
            position: fixed;
            background: #fff;
            z-index: 5;
            left: 0;
            top: 0;
            margin: 0;
            padding: 0 rem(25) rem(25) rem(25);
            transition: 0.3s ease;
            transform: translateX(-100%);
            overflow-y: auto;
            bottom: 0;

            &.open {
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.541);
                transform: translateX(0%);

                & .qna-filter {
                    margin-bottom: rem(25);
                }
            }
        }
    }


    &__pagination {
        width: 100%;
    }



    margin-bottom: rem(30);
}

.qna-filter {

    &__send {
        padding-top: rem(25);
    }

    &__aside {
        background-color: #f4f4f4;
        margin-top: rem(30);

        & ul {
            list-style-type: none;
        }

        & .select {

            width: 100%;

            & select {
                background-color: #fff;
                height: rem(40);
                margin: 7px 0;
                border: 1px solid #e1e1e1;
                border-radius: 0;
                width: 100%;
            }
        }
    }

    &__content {
        padding: rem(10) rem(22) rem(15) rem(22);

        & .abix-tree-list {
            font-size: rem(14);
            font-weight: normal;

            & .expanded {
                &>a {
                    color: #939393;
                }
            }

            & li {
                padding-top: rem(18);
            }

            & li>ul {
                padding-left: rem(25);
            }
        }

    }

    &__title {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        height: rem(50);
        display: flex;
        align-items: center;

        font-weight: 500;
        font-size: rem(16);
        line-height: rem(41);
    }
}

.add-answer {
    padding-top: rem(25);

    & .btn-line {

        height: rem(45);

        & svg {
            margin-right: 10px;
            fill: #000;


        }

        &:hover {
            & svg {
                fill: #fff;
            }
        }
    }

}

.question {

    background-color: $lightGray;

    margin-bottom: rem(25);

    &__head {
        display: flex;
        justify-content: space-between;
        padding: rem(15) rem(20) 0 rem(20);
    }

    &__title {
        min-height: rem(62);
        padding: rem(10) rem(20);

        font-weight: 500;
        font-size: rem(18);
        line-height: 150%;
        color: #16162D;

    }

    &__count {

        display: flex;
        align-items: center;
        font-size: rem(14);
        color: #49a41f;

        & .count {
            color: #fff;
            width: rem(30);
            height: rem(30);

            @include bgimage-contain;
            background-image: url('/img/svg/ic_count.svg');


            font-size: rem(14);
            line-height: 150%;

            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
        }
    }

    &__date {
        color: #939393;
        margin-left: rem(5);
    }

    &__date,
    &__autor {
        @media screen and (max-width: $w480) {
            font-size: 12px;
        }
    }


    &__auto {
        flex-grow: 1;
        display: flex;
        align-items: center;

        & .bgimage {

            @include bgimage-contain;
            width: rem(30);
            height: rem(30);
        }

        & a {
            font-family: Roboto;
            font-weight: 500;
            font-size: rem(13);
            line-height: rem(15);
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin-left: rem(8);
            color: #939393;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;

        background-color: #f4f4f4;

        padding: rem(13) rem(20) rem(13) rem(20);
        border-top: 1px solid #E1E1E1;


        @media screen and (max-width: $w480) {
            flex-direction: column;
        }

    }

    &__prop {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: rem(13);
        line-height: rem(15);
        text-align: right;
        color: #16162D;

        @media screen and (max-width: $w480) {
            margin-top: rem(15);
        }
    }

    &__share {
        display: flex;
        align-items: center;
        margin-left: rem(10);
    }
}

.filter-questions {

    margin-bottom: rem(72);

    @media screen and (max-width: $w940) {
        margin-top: rem(25);

        margin-bottom: rem(25);
    }

    & ul {

        list-style-type: none;
        display: flex;
        align-items: center;

        & li {

            &.active {
                & a {
                    color: #939393;
                }
            }

            & a {
                font-weight: 500;
                font-size: rem(14);
                line-height: rem(41);
                text-transform: uppercase;
                margin: 0 rem(40);

                &:first-child {
                    margin-left: 0;
                }

                &:hover {
                    color: $yellow;
                }
            }
        }

    }
}

.filter-repair {

    margin-top: rem(25);
    display: flex;
    justify-content: space-between;
    align-items: center;

    & span {
        color: $gray;
    }

    & .select select option,
    & .select select {
        color: #000;

    }

    @media screen and (max-width: $w580) {
        flex-direction: column;

        &__sort {
            border: 1px solid #ccc;
            padding: 5px 0 5px 15px !important;
            width: 100%;
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & span {
                font-weight: bold;
            }

            & .select {
                flex-grow: 1;

                & select {
                    padding-left: 10px;
                    padding-right: 0;
                }
            }
        }
    }



    & ul {

        list-style-type: none;
        display: flex;
        align-items: center;
        min-height: rem(45);

        @media screen and (max-width: $w480) {
            overflow-y: auto;
            width: 100%;
        }

        & li {
            font-weight: 500;
            font-size: rem(14);
            line-height: rem(41);
            text-transform: uppercase;
            margin: 0 rem(17);

            @media screen and (max-width: $w480) {
                white-space: nowrap;
            }

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                color: $yellow;
            }
        }

    }

    & .checkbox__text {
        text-transform: uppercase;
        font-weight: 600;
    }

    & .checkbox__elem {
        top: 0 !important;
    }
}

.repair {

    padding-top: rem(35);

    &__list {
        @include row-flex();
    }

    &__item {
        @include col();
        @include size-w1100(4);
        @include size-w760(4);
        @include size-w480(6);
        @include size(12);

        margin-bottom: rem(20);
    }
}

.select-oil {

    max-width: rem(900);

    &__desc {
        padding-bottom: rem(25);
    }

    &__filter {
        & .select {
            width: 100%;

            & select {
                background-color: #fff;
                height: 2.66667rem;
                border: 1px solid #e1e1e1;
                border-radius: 0;
                width: 100%;
                font-size: 14px;
                font-family: Roboto;

                @media screen and (max-width: $w580) {
                    height: rem(50);
                }
            }

        }

        & .btn {
            height: rem(40);
            font-weight: 500 !important;

            @media screen and (max-width: $w760) {
                border-width: 1px;
            }

            @media screen and (max-width: $w580) {
                height: rem(50);
            }
        }

        & .form__subitem {
            @media screen and (min-width: $w760) {
                margin-right: rem(30);
            }
        }
    }

}

.article-content {

    @include padd-top(50);

    &__table {

        @media screen and (max-width: $w940) {
            overflow-y: auto;
        }

        & table {

            border-collapse: collapse;
            width: 100%;
            min-width: 920px;

            & th,
            & td {
                border: 1px solid #e1e1e1;
                padding: rem(10) rem(15);
                text-align: center;
                vertical-align: middle;
                font-size: rem(14);

                &.fs13 {
                    font-size: rem(13);

                    & span {
                        font-weight: 600;
                    }
                }

                @media screen and (max-width: $w940) {
                    padding: rem(8) rem(10);
                }
            }
        }

    }

    &__header {
        padding-top: rem(35);
    }

    &__col2,
    &__text,
    &__table {
        padding-top: rem(25);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding-bottom: rem(15);
    }

    & .anotation {
        border-left: 2px solid $yellow;
        padding-left: rem(25);
        padding-top: rem(0);
        padding-bottom: rem(0);
    }

    &__col2 {
        display: flex;
        margin: 0 rem(-15);


        &>div {
            flex-grow: 1;
            width: 100%;
            padding: 0 rem(15);
        }

        @media screen and (max-width: $w940) {
            flex-direction: column;
        }
    }
}