html {
    font-family: Roboto, arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
    background: #fff;
    color: #000;
    letter-spacing: 0.05em;

    @media screen and (max-width: $w1440) {
        font-size: 14px;
    }

    @media screen and (max-width: $w1280) {
        font-size: 13px;
    }
}

button:active,
button:hover,
input:active,
input:focus,
input:hover {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
    line-height: 130%;
}

* {
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.hidden {
    overflow: hidden;

    @media screen and (min-width: $w1024) {
        margin-right: 17px;
    }
}

.hide {
    display: none;
}

.rotate {
    transform: rotate(180deg);
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 rem(55);

    @media screen and (max-width: $w1280) {
        padding: 0 rem(35);
    }

    @media screen and (max-width: $w1024) {
        padding: 0 rem(25);
    }

    @media screen and (max-width: $w580) {
        padding: 0 rem(15);
    }
}

.container-1720 {
    max-width: 1720px;
    width: 100%;
    margin: 0 auto;
    padding: 0 rem(55);

    @media screen and (max-width: $w1280) {
        padding: 0 rem(35);
    }

    @media screen and (max-width: $w1024) {
        padding: 0 rem(25);
    }

    @media screen and (max-width: $w580) {
        padding: 0 rem(15);
    }
}

.pull-right {
    justify-content: flex-end !important;
}

.pull-left {
    justify-content: flex-start !important;
}

/* ================== */

header {
    position: relative;
    z-index: 2;
    background-color: #fafafa;
}

.banner-top {
    margin-top: -135px;
    position: relative;
    z-index: 1;

    &__image {
        & span {
            @include bgimage-cover;
            padding-top: 33%;
            transform: none !important;
        }
    }

    &__content {
        @include layer(1);

        display: flex;
        align-items: center;
    }

    &__title {

        @include padd-top(120);

        & h1 {
            font-weight: 500;
            font-size: rem(60);
            line-height: rem(59);
            color: #FFFFFF;
        }
    }

    &__subtitle {
        font-size: rem(14);
        line-height: rem(14);
        letter-spacing: 0.05em;
        color: #FFFFFF;

        padding-top: rem(25);
        padding-bottom: rem(55);
    }

    &__button {}
}

.type-question {

    background: #FAFAFA;

    @include padd-top(70);
    @include padd-bottom(20);

    &__list {
        @include row-flex();
    }

    &__item {
        @include col();
        @include size-w1100(4);
        @include size-w760(6);
        @include size-w580(12);
    }

    &__item {

        @include padd-bottom(50);

        & .bgimage {
            width: rem(33);
            min-width: rem(33);
            height: rem(33);
            margin-right: 15px;

            @include bgimage-contain;
        }
    }

    &__item-title {
        display: flex;
        font-weight: 500;
        font-size: rem(28);
        line-height: rem(42);
        color: #16162D;
        padding-bottom: rem(15);
        display: flex;
        align-items: center;
    }

    &__item-list {

        & ul {

            list-style-type: none;

            & li {
                display: flex;
                align-items: center;
                padding: rem(15) 0;

                & a {
                    font-weight: 500;
                    font-size: rem(13);
                    line-height: rem(14);
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #939393;
                    display: block;

                }

                &::before {
                    width: rem(33);
                    height: rem(2);
                    content: '';
                    display: inline-block;
                    background-color: #FFD223;
                    margin-right: rem(15);
                }
            }
        }

    }
}

.section-title {
    display: flex;
    align-items: center;
    padding-bottom: rem(45);

    & a {
        font-weight: 500;
        font-size: rem(12);
        line-height: rem(14);
        letter-spacing: 0.05em;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #737373;
        display: block;
        padding-top: rem(5);

        margin-left: rem(20);
    }
}

.brand-list {
    background: #FAFAFA;
}

.top-question {
    @include padd-x(50);

    &__wrp {
        @include row-flex();
        justify-content: space-between;

        @include to($w580) {
            flex-direction: column-reverse;
        }
    }

    &__left {
        @include col();
        @include size-w760(5.8);
        @include size-w580(12);
    }

    &__right {
        @include col();
        @include size-w760(5.8);
        @include size-w580(12);

        @include to($w580) {
            margin-bottom: rem(30);
        }
    }

    &__right-img {
        & .bgimage {
            padding-top: 70%;
            @include bgimage-cover;
            transform: none !important;
        }
    }

    &__right-title {
        font-weight: 500;
        font-size: rem(15);
        line-height: 150%;
        color: #16162D;
        padding: rem(25) 0;
    }

    &__right-desc {
        font-size: rem(14);
        line-height: 140%;

    }

    &__right-tag {
        margin-top: rem(40);
    }

    &__item {
        display: flex;
        margin-bottom: rem(30);

        &>div {
            flex-grow: 1;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item-title {
        & a {
            font-weight: 500;
            font-size: rem(18);
            line-height: 150%;
            color: #16162D;
        }
    }

    &__item-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__item-img {
        width: 100%;
        max-width: rem(168);
        min-width: rem(168);
        margin-right: rem(20);

        & .bgimage {
            padding-top: 58%;
            @include bgimage_cover;
        }
    }

    &__item-tag {
        padding-top: rem(10);
    }
}




.popular-brands {

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: rem(18);
        line-height: 130%;
        color: #010103;
    }

    &__items {
        -webkit-column-count: 4;
        column-count: 4;
        display: block;

        @media screen and (max-width: $w760) {
            -webkit-column-count: 3;
            column-count: 3;
            display: block;
        }

        @media screen and (max-width: $w580) {
            -webkit-column-count: 2;
            column-count: 2;
            display: block;
        }

        & li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: rem(60);

            & span {
                color: #737373;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        & img {
            max-width: rem(45);
            margin-right: rem(5);
            width: 100%;
            max-height: rem(35);
            object-fit: contain;
        }
    }
}

.top-video {
    @include padd-x(50);

    &__list {
        @include row-flex();
    }

    &__item {
        @include col();
        @include size-w760(4);
        @include size-w480(6);
        @include size(12);

        margin-bottom: rem(30);
    }



}

.top-qna {

    @include padd-x(50);

    &__list {
        @include row-flex();

        margin-bottom: rem(30);
        margin-left: -25px;
        margin-right: -25px;
    }

    &__item {
        @include col();
        @include size-w760(4);
        @include size-w480(6);
        @include size(12);


    }
}

.experts {
    &__inr {
        @include row-flex();
    }

    &__desc {
        @include col();
        @include size-w1100(3);
    }

    &__list {
        @include col();
        @include size-w1100(9);

        @include row-flex();
    }

    &__item {
        @include col();
        @include size-w1100(4);
    }


    &__wrp {
        @include padd-x(65);
        background-color: $yellow;
    }



}

section.breadcrumbs {
    background-color: #fafafa;
}

.page-title {
    padding-top: rem(25);
    background-color: #fafafa;
    padding-bottom: rem(40);
}

.item-experts {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__img {

        max-width: 60%;
        margin: 0 auto;
        width: 100%;

        & .bgimage {
            padding-top: 100%;
            transform: none !important;

            @include bgimage-cover;
        }
    }

    &__name {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        text-transform: uppercase;
        text-align: center;
        min-height: rem(60);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: rem(10);

        .item-experts__name {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            text-transform: uppercase;
            text-align: center;
        }


    }

    &__spec {
        font-size: 12px;
        line-height: 145%;
        text-align: center;
        color: #939393;

    }

    &__state {

        font-size: 13px;
        padding: 10px 0;
        text-align: center;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        & .online-exp {
            color: #49A41F;

            &::before {
                content: '';
                width: 6px;
                height: 6px;
                background-color: #49A41F;
                border-radius: 50%;
                display: inline-block;
                margin-right: 5px;
            }
        }

        & .offline-exp {
            color: #aaa;
            font-size: 13px;
        }
    }

    &__quest {
        text-align: center;

        & button {
            margin: 0 auto;
        }
    }
}

.experts {
    &__desc {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    &__desc-title {
        font-weight: 500;
        font-size: rem(28);
        line-height: rem(59);
        color: #16162D;
        padding-bottom: rem(30);
    }

    &__desc-sub {

        line-height: rem(30);

        & span {
            font-weight: 500;
            font-size: rem(28);
            color: #16162D;
        }
    }
}

.page-qna {

    @include row-flex();

    &__aside {
        @include col();
        @include size-w1100(3);
        @include size-w760(4);
        @include size-w480(6);
        @include size(12);
    }

    &__main {
        @include col();
        @include size-w1100(9);
        @include size-w760(8);
        @include size-w480(6);
        @include size(12);

        @media screen and (min-width: $w760) {
            padding-left: rem(15);

            &--offset {
                margin-top: rem(-80);
            }
        }




    }


    &__pagination {
        width: 100%;
    }



    margin-bottom: rem(30);
}

.qna-filter {
    &__aside {
        background-color: #f4f4f4;
        margin-top: rem(30);

        & ul {
            list-style-type: none;
        }

        & .select {

            width: 100%;

            & select {
                background-color: #fff;
                height: rem(40);
                margin: 7px 0;
                border: 1px solid #e1e1e1;
                border-radius: 0;
                width: 100%;
            }
        }
    }

    &__content {
        padding: 15px 22px;

        & .abix-tree-list {
            font-size: 14px;
            font-weight: normal;

            & .expanded {
                &>a {
                    color: #939393;
                }
            }

            & li {
                padding-top: 18px;
            }

            & li>ul {
                padding-left: 25px;
            }
        }

    }

    &__title {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        height: rem(50);
        display: flex;
        align-items: center;

        font-weight: 500;
        font-size: rem(16);
        line-height: rem(41);
    }
}

.add-answer {
    padding-top: 25px;

    & .btn-line {

        height: rem(45);

        & svg {
            margin-right: 10px;
            fill: #000;


        }

        &:hover {
            & svg {
                fill: #fff;
            }
        }
    }

}

.qiestion {

    padding-bottom: rem(25);

    &__head {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        min-height: rem(62);
        padding: rem(10) 0;

        font-weight: 500;
        font-size: rem(18);
        line-height: 150%;
        color: #16162D;

    }

    &__count {

        display: flex;
        align-items: center;
        font-size: rem(14);
        color: #49a41f;

        & .count {
            color: #fff;
            width: rem(30);
            height: rem(30);

            @include bgimage-contain;
            background-image: url('/img/svg/ic_count.svg');


            font-size: rem(14);
            line-height: 150%;

            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
        }
    }

    &__date {
        color: #939393;
        margin-left: rem(5);
    }


    &__auto {
        flex-grow: 1;
        display: flex;
        align-items: center;

        & .bgimage {

            @include bgimage-contain;
            width: rem(30);
            height: rem(30);
        }

        & a {
            font-family: Roboto;
            font-weight: 500;
            font-size: rem(13);
            line-height: rem(15);
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin-left: rem(8);
            color: #939393;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;

        background-color: #f4f4f4;

        padding: rem(13) rem(22) rem(13) rem(22);
        border-top: 1px solid #E1E1E1;
        ;
    }

    &__prop {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: rem(13);
        line-height: rem(15);
        text-align: right;
        color: #16162D;
    }

    &__share {
        display: flex;
        align-items: center;
        margin-left: rem(10);
    }
}

.filter-questions {

    margin-bottom: rem(59);

    & ul {

        list-style-type: none;
        display: flex;
        align-items: center;

        & li {

            &.active {
                & a {
                    color: #939393;
                }
            }

            & a {
                font-weight: 500;
                font-size: rem(14);
                line-height: rem(41);
                text-transform: uppercase;
                margin: 0 rem(17);

                &:first-child {
                    margin-left: 0;
                }

                &:hover {
                    color: $yellow;
                }
            }
        }

    }
}

.filter-repair {

    margin-top: rem(25);
    display: flex;
    justify-content: space-between;
    align-items: center;

    & ul {

        list-style-type: none;
        display: flex;
        align-items: center;
        min-height: rem(45);

        & li {


            font-weight: 500;
            font-size: rem(14);
            line-height: rem(41);
            text-transform: uppercase;
            margin: 0 rem(17);

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                color: $yellow;
            }
        }

    }

    & .checkbox__text {
        text-transform: uppercase;
        font-weight: 600;
    }

    & .checkbox__elem {
        top: 0 !important;
    }
}